<a href="https://colab.research.google.com/github/ShivprasadSagare/Codes/blob/master/Survey_of_libraries_for_number_text_normalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# English

# word2number
## for converting textual format to numeric format

In [36]:
!pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5567 sha256=a4b36a68629ff9ea2989d5e44a0e5b5c3c2ae79484be0a5240b315cbeed2de0c
  Stored in directory: /root/.cache/pip/wheels/84/ff/26/d3cfbd971e96c5aa3737ecfced81628830d7359b55fbb8ca3b
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [37]:
from word2number import w2n

In [38]:
w2n.word_to_num('five hundred sixty one')

561

In [ ]:
w2n.word_to_num('million')

1000000

In [ ]:
w2n.word_to_num('twenty first')

20

missing the ordinal text above

In [ ]:
w2n.word_to_num('five point five million')

5

missing 'point'

In [ ]:
w2n.word_to_num('five million and fifty thousand')

5051050

missing some unusual verbalizations

In [ ]:
w2n.word_to_num('i have five fingers')

5

Value error raised on wrong speelings/invalid words

# inflect
## for converting numeric format to textual format

In [2]:
!pip install inflect

Requirement already satisfied: inflect in /usr/local/lib/python3.10/dist-packages (6.0.5)
Requirement already satisfied: pydantic<2,>=1.9.1 in /usr/local/lib/python3.10/dist-packages (from inflect) (1.10.11)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<2,>=1.9.1->inflect) (4.7.1)

In [3]:
import inflect

In [4]:
p = inflect.engine()

In [ ]:
p.number_to_words(52)

'fifty-two'

In [ ]:
p.number_to_words('561st')

'five hundred and sixty-first'

In [ ]:
p.ordinal('five hundred')

'five hundredth'

overall seems quite robust

## Test cases for English

In [32]:
num_to_word = {
    'When is your 21st birthday?': [
        'When is your twenty first birthday?',
        'When is your twenty-first birthday?'
    ],
    'When is your 21 st birthday?': [
        'When is your twenty first birthday?',
        'When is your twenty-first birthday?'
    ],
    'Give me 1 million rs': [
        'Give me one million rs'
    ],
    'I need 15 oranges': [
        'I need fifteen oranges'
    ],
    'What do 1563 apples cost?': [
        'What do fifteen hundred and sixty three apples cost?',
        'What do one thousand five hundred and sixty three apples cost?'
    ],
    'The revolt happened in 1857': [
        'The revolt happened in eighteen fifty seven',
        'The revolt happened in eighteen hundred and fifty seven'
    ],
    'my phone number is 8916712763': [
        'my phone number is eight nine one six seven one two seven six three'
    ],
    'i need to pay 25,560 dollars to her.': [
        'I need to pay twenty five thousand five hundred and sixty three dollars to her'
    ]
}

In [6]:
word_to_num = {
    'When is your twenty first birthday?' : [
        'When is your 21st birthday?'
    ],
    'Give me five hundred and fifty five rs.' : [
        'Give me 555 rs.'
    ],
    'It is worth a million pounds' : [
        'It is worth 1000000 pounds'
    ],
    'I came second in the race.' : [
        'I came 2nd in the race'
    ]
}

## Functions for conversion

In [20]:
p.number_to_words('random stuff')

'zero'

In [33]:
def num_to_text(text):
  words = text.split()
  normalized_text = []
  for word in words:
    try:
      normalized_word = p.number_to_words(word)
      if normalized_word == 'zero':
        normalized_text.append(word)
      else:
        normalized_text.append(normalized_word)
    except:
      # print(f'{word} is not numeric')
      pass
  normalized_text = ' '.join(normalized_text)
  return normalized_text

In [63]:
# def text_to_num(text):
#   words = text.split()
#   normalized_text = []
#   buffer = []
#   flag = 0
#   for word in words:
#     if flag == 1 and word == 'and':
#       buffer.append('and')
#       continue
#     if flag == 1:
#       try:
#         normalized_word = w2n.word_to_num(word)
#         # normalized_text.append(str(normalized_word))
#         flag = 1
#         buffer.append(word)
#       except:
#         flag = 0
#         buffer = ''
#     if flag == 0:
#       if buffer:
#         normalized_text.append(str(w2n.word_to_num(' '.join(buffer))))
#       normalized_text.append(word)
#     except:
#       try:
#         if buffer:
#           normalized_text.append(str(w2n.word_to_num(' '.join(buffer))))
#       except:
#           print(f'invalid text: {buffer}')
#       normalized_text.append(word)
#       flag = 0


#   return ' '.join(normalized_text)

In [82]:
def text_to_num(text):
  words = text.split()
  ids = []
  for word in words:
    try:
      normalized_word = w2n.word_to_num(word)
      ids.append(1)
    except:
      if ids:
        if ids[-1] == 1 and word == 'and':
          ids.append(1)
        else:
          ids.append(0)
      else:
        ids.append(0)
  print(ids)
  buffer = ''
  final_words = []
  for id in range(len(ids)):
    if ids[id] == 0:
      if buffer:
        final_words.append(buffer.strip())
        buffer = ''
      final_words.append(words[id])
    else:
      buffer += words[id] + ' '
  print(final_words)

  normalized_text = []
  for word in final_words:
    try:
      normalized_word = w2n.word_to_num(word)
      normalized_text.append(str(normalized_word))
    except:
      normalized_text.append(word)
  return ' '.join(normalized_text)

In [83]:
text_to_num('Give me five hundred and fifty five rs')

[0, 0, 1, 1, 1, 1, 1, 0]
['Give', 'me', 'five hundred and fifty five', 'rs']

'Give me 555 rs'

## Testing

In [35]:
for key in num_to_word:
  print(f'Input: {key}\nExpected_outputs: {num_to_word[key]}\nResult: {num_to_text(key)}\n\n')

Input: When is your 21st birthday?
Expected_outputs: ['When is your twenty first birthday?', 'When is your twenty-first birthday?']
Result: When is your twenty-first birthday?


Input: When is your 21 st birthday?
Expected_outputs: ['When is your twenty first birthday?', 'When is your twenty-first birthday?']
Result: When is your twenty-one st birthday?


Input: Give me 1 million rs
Expected_outputs: ['Give me one million rs']
Result: Give me one million rs


Input: I need 15 oranges
Expected_outputs: ['I need fifteen oranges']
Result: I need fifteen oranges


Input: What do 1563 apples cost?
Expected_outputs: ['What do fifteen hundred and sixty three apples cost?', 'What do one thousand five hundred and sixty three apples cost?']
Result: What do one thousand, five hundred and sixty-three apples cost?


Input: The revolt happened in 1857
Expected_outputs: ['The revolt happened in eighteen fifty seven', 'The revolt happened in eighteen hundred and fifty seven']
Result: The revolt happened in one thousand, eight hundred and fifty-seven


Input: my phone number is 8916712763
Expected_outputs: ['my phone number is eight nine one six seven one two seven six three']
Result: my phone number is eight billion, nine hundred and sixteen million, seven hundred and twelve thousand, seven hundred and sixty-three


Input: the date today is 27/07/23.
Expected_outputs: ['the date today is twenty seventh July, twenty twenty three.', 'the date today is twenty seventh July, two thousand twenty three.']
Result: the date today is two hundred and seventy thousand, seven hundred and twenty-three point


Input: i need to pay 25,560 dollars to her.
Expected_outputs: ['I need to pay twenty five thousand five hundred and sixty three dollars to her']
Result: i need to pay twenty-five thousand, five hundred and sixty dollars to zero point

In [84]:
for key in word_to_num:
  print(f'Input: {key}\nExpected_outputs: {word_to_num[key]}\nResult: {text_to_num(key)}\n\n')

[0, 0, 0, 1, 0, 0]
['When', 'is', 'your', 'twenty', 'first', 'birthday?']
Input: When is your twenty first birthday?
Expected_outputs: ['When is your 21st birthday?']
Result: When is your 20 first birthday?


[0, 0, 1, 1, 1, 1, 1, 0]
['Give', 'me', 'five hundred and fifty five', 'rs.']
Input: Give me five hundred and fifty five rs.
Expected_outputs: ['Give me 555 rs.']
Result: Give me 555 rs.


[0, 0, 0, 0, 1, 0]
['It', 'is', 'worth', 'a', 'million', 'pounds']
Input: It is worth a million pounds
Expected_outputs: ['It is worth 1000000 pounds']
Result: It is worth a 1000000 pounds


[0, 0, 0, 0, 0, 0]
['I', 'came', 'second', 'in', 'the', 'race.']
Input: I came second in the race.
Expected_outputs: ['I came 2nd in the race']
Result: I came second in the race.

In [62]:
w2n.word_to_num('first')

ValueError: ignored

# Tagalog